<div class="block">
  <span class="tile">আধ্যক্ষ</span>
  <div class="d-flex justify-content-center">
    <img
      class="img-fluid mx-auto"
      src="../../../../assets/images/logo.png"
      alt=""
    />
  </div>
</div>
<div class="block">
  <span class="tile">অভ্যন্তরীন ই-সেবা সমূহ</span>
</div>
<div class="block">
  <span class="tile">কেন্দ্রীয় ই-সেবা সমূহ</span>
</div>
<div class="block important-links">
  <span class="tile">গুরুত্বপূর্ণ লিঙ্ক সমূহ</span>
  <div class="d-flex justify-content-center">
    <ul>
      <li><a href="#">গনপ্রজাতন্ত্রী বাংলাদেশ সরকার</a></li>
      <li><a href="#">গনপ্রজাতন্ত্রী বাংলাদেশ সরকার</a></li>
      <li><a href="#">গনপ্রজাতন্ত্রী বাংলাদেশ সরকার</a></li>
      <li><a href="#">গনপ্রজাতন্ত্রী বাংলাদেশ সরকার</a></li>
      <li><a href="#">গনপ্রজাতন্ত্রী বাংলাদেশ সরকার</a></li>
    </ul>
  </div>
</div>
<div class="block">
  <span class="tile">জাতীয় সংগীত</span>
  <div class="d-flex justify-content-center">
    <audio controls src="../../../../assets/files/nationnal_anthem.mp3"></audio>
  </div>
</div>
<div class="block">
  <span class="tile">জরুরী হটলাইন</span>
  <div class="d-flex justify-content-center">
    <img
      class="img-fluid mx-auto"
      src="../../../../assets/images/hotline_number.jpg"
      alt=""
    />
  </div>
</div>
