<div class="notice-board">
  <div class="content">
    <h3>নোটিশ বোর্ড</h3>
    <ul>
      <li>
        <a href="#">ইনস্টিটিউটের প্রশাসনিক-কাম-একাডেমিক পরিষদ সভার নোটিশ</a>
      </li>
      <li>
        <a href="#">ইনস্টিটিউটের প্রশাসনিক-কাম-একাডেমিক পরিষদ সভার নোটিশ</a>
      </li>
      <li>
        <a href="#">ইনস্টিটিউটের প্রশাসনিক-কাম-একাডেমিক পরিষদ সভার নোটিশ</a>
      </li>
      <li>
        <a href="#">ইনস্টিটিউটের প্রশাসনিক-কাম-একাডেমিক পরিষদ সভার নোটিশ</a>
      </li>
      <li>
        <a href="#">ইনস্টিটিউটের প্রশাসনিক-কাম-একাডেমিক পরিষদ সভার নোটিশ</a>
      </li>
    </ul>
  </div>
  <a class="all_notice_btn" href="#">সকল</a>
</div>
