<div class="news d-flex align-items-center">
  <span class="fw-bold me-2">খবরঃ </span>
  <marquee behavior="smooth" direction=""
    >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit impedit
    error, enim eius corporis placeat in adipisci blanditiis aspernatur voluptas
    nostrum iusto fuga sunt? Aliquam libero cum sint eaque ipsa saepe sit, amet
    deserunt maiores rem, ipsam expedita fugit architecto iste omnis molestias.
    Aliquid adipisci accusamus nemo dolore expedita sequi facilis repellendus,
    vel delectus sunt fugiat? Ratione distinctio mollitia animi debitis.
    Voluptatibus tempora exercitationem corporis sequi. Minus est magnam dicta!
    Numquam obcaecati velit maxime nisi. Quasi, ab. Recusandae rerum harum error
    blanditiis, laudantium perspiciatis labore repudiandae aspernatur officia
    fugiat cum magnam sequi ipsam architecto quos dolore consequatur ullam
    necessitatibus qui? Saepe et dolorum sed rem magnam in impedit sit nulla
    esse debitis, deserunt beatae dolor corrupti quasi ducimus nam placeat sequi
    quisquam ratione ut. Inventore fugit labore aliquam, culpa quod officiis,
    doloremque temporibus impedit nam iure sunt assumenda, sit ad ex quo natus
    itaque amet excepturi aspernatur. Suscipit eaque tempore obcaecati placeat
    sapiente reprehenderit! Illo voluptate libero nemo quam quo quas odio
    inventore consequatur sequi qui? Vitae voluptate doloremque commodi
    recusandae nesciunt qui velit, voluptatum voluptatem est, quas laboriosam
    eligendi enim tenetur cum deserunt magnam itaque obcaecati vel earum
    assumenda a quisquam ab dolore. Ab corporis quam deserunt quo ducimus fugiat
    est illum mollitia nostrum obcaecati. Molestias odio deserunt inventore esse
    recusandae mollitia doloremque id minus, magnam voluptatibus hic quia
    doloribus temporibus maxime. Minima, architecto omnis soluta qui laboriosam
    consequatur eum, totam similique alias dignissimos incidunt deleniti laborum
    tempore accusantium, non distinctio sed quae cumque labore nobis repellat
    impedit iste! Quo officia earum cum accusamus! Accusantium ipsa odio modi
    veritatis nulla architecto eaque labore in assumenda quia veniam unde
    quidem, consequatur nihil ut neque nam excepturi exercitationem. Doloremque
    soluta veritatis officia quae atque? Odit repudiandae quaerat laborum
    voluptatem voluptate, neque nostrum laboriosam necessitatibus possimus quas,
    consequatur quia adipisci numquam hic?</marquee
  >
</div>
